.mainContents .require{
    font-weight: bold;
}

.mainContents table td, .description{
    color: white;
}

.mainContents .sk{
    background-color: yellowgreen;
    text-decoration: underline;
}

.mainContents .sh{
    background-color: rgb(206, 0, 0);
    text-decoration: underline double;
}

.mainContents .sr{
    background-color: blue;
    text-decoration: underline dotted;
}

.mainContents .description{
    margin-top: 5px;
}

.mainContents .description span{
    margin-right: 5px;
}

.mainContents .description .req-desc{
    color: black;
}

.mainContents .description .require{
    display: none;
}