.mainContents .require{
    color: #ff0000;
}

.mainContents .sk{
    background-color: green;
}

.mainContents .sh{
    background-color: yellow;
}

.mainContents .sr{
    background-color: skyblue;
}

.mainContents .description{
    margin-top: 5px;
}

.mainContents .description span{
    margin-right: 5px;
}
