.mainContents .require{
    color: red;
}

.mainContents .sk{
    background-color: greenyellow;
}

.mainContents .sh{
    background-color: lightskyblue;
}

.mainContents .sr{
    background-color: pink;
}

.mainContents .description{
    margin-top: 5px;
}

.mainContents .description span{
    margin-right: 5px;
}